---
const { flat } = Astro.props;
---

<section id="Params" class="mt-25 flex flex-col items-center">
	<h2>PARAMETRY</h2>
	<ul class="text-lg w-[80vw] lg:w-[60vw]">
		<li><span>Dispozice</span><span>{flat.layout}</span></li>
		<li><span>Celková plocha</span><span>{flat.area} m<sup>2</sup></span></li>
		<li><span>Podlahová plocha</span><span>{flat.floorArea} m<sup>2</sup></span></li>
		<li><span>Orientace</span><span>{flat.orientation}</span></li>
		<li><span>Cena</span><span>{flat.price}</span></li>
		<li><span>Podlaží</span><span>{flat.floor}</span></li>
		<li><span>Sklep/komora</span><span>{flat.cellar}</span></li>
		<li><span>Stav jendotky</span><span>{flat.state}</span></li>
		<li><span>Parkování</span><span>{flat.parking}</span></li>
	</ul>
</section>
