---
import { Image } from 'astro:assets'
import financingImg from '#assets/investing.jpg'
import type { ArgumentsData } from '#types/arguments.ts'
import Booklet from './Booklet.astro'
import LinkButton from './LinkButton.astro'
import type { Page } from '#types/booklet.ts'
import BookletMobile from './Booklet-mobile.astro'

interface Props {
	argumentsData: ArgumentsData
}

const { argumentsData } = Astro.props

const matches = import.meta.glob<{ default: Page }>(
	'../assets/booklet-investing/*.{jpeg,jpg,png,webp}',
	{
		eager: true,
	},
)
const pages = Object.values(matches).map((page) => page.default)
const mobilePages = pages.filter((page) => !page.src.includes('noMob'))
---

<section id="Financing" class="mt-25 flex flex-col gap-20 items-center">
	<div
		class="mx-[4vw] flex flex-col gap-5 lg:grid lg:gap-0 grid-flow-col grid-cols-[45%_55%] items-center"
	>
		<div class="lg:px-[20%] flex flex-col items-center text-justify">
			<h2 class="text-left">{argumentsData.investment.title}</h2>
			<p class="mb-5">
				{argumentsData.investment.text}
			</p>
			<LinkButton
				text="Více informací"
				href="#financing-booklet"
				classList="hover-dark text-sm"
			/>
		</div>
		<Image
			src={financingImg}
			alt="Pohled na objekt"
			class="max-h-[calc(80vh-144px)] w-full aspect-video object-cover"
		/>
	</div>
	<div id="financing-booklet">
		<Booklet {pages} />
		<BookletMobile {mobilePages} />
	</div>
</section>
